In [2]:
import pandas as pd
import json
from kafka import KafkaConsumer

consumer = KafkaConsumer("project_4", bootstrap_servers='localhost')
print("Starting the consumer")

all_data = pd.DataFrame()

for msg in consumer:
    print(f"Records = {json.loads(msg.value)}")
    
    data = json.loads(msg.value)
    
    all_data = all_data.append(pd.DataFrame([data]), ignore_index=True)

print(all_data)

Starting the consumer
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 9839.64, 'nameOrig': 'C1231006815', 'newbalanceOrig': 160296.36, 'nameDest': 'M1979787155', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 1864.28, 'nameOrig': 'C1666544295', 'newbalanceOrig': 19384.72, 'nameDest': 'M2044282225', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'TRANSFER', 'amount': 181.0, 'nameOrig': 'C1305486145', 'newbalanceOrig': 0.0, 'nameDest': 'C553264065', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 181.0, 'nameOrig': 'C840083671', 'newbalanceOrig': 0.0, 'nameDest': 'C38997010', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 11668.14, 'nameOrig': 'C2048537720', 'newbalanceOrig': 29885.86, 'nameDest': 'M1230701703', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 7817.71, 'nameOrig': 'C90045638', 'newbalanceOrig': 46042.29, 'nameDest': 'M573487274', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 7107.77, 'nameOrig': 'C154988899', 'newbalanceOrig': 176087.23, 'nameDest': 'M408069119', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 7861.64, 'nameOrig': 'C1912850431', 'newbalanceOrig': 168225.59, 'nameDest': 'M633326333', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 4024.36, 'nameOrig': 'C1265012928', 'newbalanceOrig': 0.0, 'nameDest': 'M1176932104', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'DEBIT', 'amount': 5337.77, 'nameOrig': 'C712410124', 'newbalanceOrig': 36382.23, 'nameDest': 'C195600860', 'newbalanceDest': 40348.79}
Records = {'step': 1, 'type': 'DEBIT', 'amount': 9644.94, 'nameOrig': 'C1900366749', 'newbalanceOrig': 0.0, 'nameDest': 'C997608398', 'newbalanceDest': 157982.12}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 3099.97, 'nameOrig': 'C249177573', 'newbalanceOrig': 17671.03, 'nameDest': 'M2096539129', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 2560.74, 'nameOrig': 'C1648232591', 'newbalanceOrig': 2509.26, 'nameDest': 'M972865270', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 11633.76, 'nameOrig': 'C1716932897', 'newbalanceOrig': 0.0, 'nameDest': 'M801569151', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 4098.78, 'nameOrig': 'C1026483832', 'newbalanceOrig': 499165.22, 'nameDest': 'M1635378213', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 229133.94, 'nameOrig': 'C905080434', 'newbalanceOrig': 0.0, 'nameDest': 'C476402209', 'newbalanceDest': 51513.44}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 1563.82, 'nameOrig': 'C761750706', 'newbalanceOrig': 0.0, 'nameDest': 'M1731217984', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 1157.86, 'nameOrig': 'C1237762639', 'newbalanceOrig': 19998.14, 'nameDest': 'M1877062907', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 671.64, 'nameOrig': 'C2033524545', 'newbalanceOrig': 14451.36, 'nameDest': 'M473053293', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'TRANSFER', 'amount': 215310.3, 'nameOrig': 'C1670993182', 'newbalanceOrig': 0.0, 'nameDest': 'C1100439041', 'newbalanceDest': 0.0}

KeyboardInterrupt:

In [3]:
all_data

,step,type,amount,nameOrig,newbalanceOrig,nameDest,newbalanceDest
0,1,PAYMENT,9839.64,C1231006815,160296.36,M1979787155,0.00
1,1,PAYMENT,1864.28,C1666544295,19384.72,M2044282225,0.00
2,1,TRANSFER,181.00,C1305486145,0.00,C553264065,0.00
3,1,CASH_OUT,181.00,C840083671,0.00,C38997010,0.00
4,1,PAYMENT,11668.14,C2048537720,29885.86,M1230701703,0.00
5,1,PAYMENT,7817.71,C90045638,46042.29,M573487274,0.00
6,1,PAYMENT,7107.77,C154988899,176087.23,M408069119,0.00
7,1,PAYMENT,7861.64,C1912850431,168225.59,M633326333,0.00
8,1,PAYMENT,4024.36,C1265012928,0.00,M1176932104,0.00
9,1,DEBIT,5337.77,C712410124,36382.23,C195600860,40348.79
10,1,DEBIT,9644.94,C1900366749,0.00,C997608398,157982.12
11,1,PAYMENT,3099.97,C249177573,17671.03,M2096539129,0.00
12,1,PAYMENT,2560.74,C1648232591,2509.26,M972865270,0.00
13,1,PAYMENT,11633.76,C1716932897,0.00,M801569151,0.00
14,1,PAYMENT,4098.78,C1026483832,499165.22,M1635378213,0.00
15,1,CASH_OUT,229133.94,C905080434,0.00,C476402209,51513.44
16,1,PAYMENT,1563.82,C761750706,0.00,M1731217984,0.00
17,1,PAYMENT,1157.86,C1237762639,19998.14,M1877062907,0.00
18,1,PAYMENT,671.64,C2033524545,14451.36,M473053293,0.00
19,1,TRANSFER,215310.30,C1670993182,0.00,C1100439041,0.00

In [4]:
producer = all_data
producer

,step,type,amount,nameOrig,newbalanceOrig,nameDest,newbalanceDest
0,1,PAYMENT,9839.64,C1231006815,160296.36,M1979787155,0.00
1,1,PAYMENT,1864.28,C1666544295,19384.72,M2044282225,0.00
2,1,TRANSFER,181.00,C1305486145,0.00,C553264065,0.00
3,1,CASH_OUT,181.00,C840083671,0.00,C38997010,0.00
4,1,PAYMENT,11668.14,C2048537720,29885.86,M1230701703,0.00
5,1,PAYMENT,7817.71,C90045638,46042.29,M573487274,0.00
6,1,PAYMENT,7107.77,C154988899,176087.23,M408069119,0.00
7,1,PAYMENT,7861.64,C1912850431,168225.59,M633326333,0.00
8,1,PAYMENT,4024.36,C1265012928,0.00,M1176932104,0.00
9,1,DEBIT,5337.77,C712410124,36382.23,C195600860,40348.79
10,1,DEBIT,9644.94,C1900366749,0.00,C997608398,157982.12
11,1,PAYMENT,3099.97,C249177573,17671.03,M2096539129,0.00
12,1,PAYMENT,2560.74,C1648232591,2509.26,M972865270,0.00
13,1,PAYMENT,11633.76,C1716932897,0.00,M801569151,0.00
14,1,PAYMENT,4098.78,C1026483832,499165.22,M1635378213,0.00
15,1,CASH_OUT,229133.94,C905080434,0.00,C476402209,51513.44
16,1,PAYMENT,1563.82,C761750706,0.00,M1731217984,0.00
17,1,PAYMENT,1157.86,C1237762639,19998.14,M1877062907,0.00
18,1,PAYMENT,671.64,C2033524545,14451.36,M473053293,0.00
19,1,TRANSFER,215310.30,C1670993182,0.00,C1100439041,0.00

In [5]:
from sqlalchemy import create_engine
import pandas as pd

dbname="project_4"
user="postgres"
password="postgres"
host="localhost"
port="5432"

# URL koneksi ke PostgreSQL
db_url = f"postgresql://{user}:{password}@{host}:{port}/{dbname}"
engine = create_engine(db_url)
df = pd.read_sql_query('SELECT * FROM old_information',engine)

In [6]:
df

          nameOrig  oldbalanceOrg     nameDest  oldbalanceDest
0      C1231006815       170136.0  M1979787155            0.00
1      C1666544295        21249.0  M2044282225            0.00
2      C1305486145          181.0   C553264065            0.00
3       C840083671          181.0    C38997010        21182.00
4      C2048537720        41554.0  M1230701703            0.00
...            ...            ...          ...             ...
14995  C1467327074        29051.0   C191614132         9701.14
14996   C932879787            0.0   M902010316            0.00
14997  C1430251794            0.0   M799225701            0.00
14998  C1287098623        55498.0  M1702039888            0.00
14999  C1336808341       184122.0  C1336996537       444596.14

[15000 rows x 4 columns]

In [19]:
data = producer.merge(df, how='inner', on=['nameOrig','nameDest'])
predict = data.drop(['nameOrig','nameDest'], axis=1)
predict

,step,type,amount,newbalanceOrig,newbalanceDest,oldbalanceOrg,oldbalanceDest
0,1,PAYMENT,9839.64,160296.36,0.00,170136.00,0.0
1,1,PAYMENT,1864.28,19384.72,0.00,21249.00,0.0
2,1,TRANSFER,181.00,0.00,0.00,181.00,0.0
3,1,CASH_OUT,181.00,0.00,0.00,181.00,21182.0
4,1,PAYMENT,11668.14,29885.86,0.00,41554.00,0.0
5,1,PAYMENT,7817.71,46042.29,0.00,53860.00,0.0
6,1,PAYMENT,7107.77,176087.23,0.00,183195.00,0.0
7,1,PAYMENT,7861.64,168225.59,0.00,176087.23,0.0
8,1,PAYMENT,4024.36,0.00,0.00,2671.00,0.0
9,1,DEBIT,5337.77,36382.23,40348.79,41720.00,41898.0
10,1,DEBIT,9644.94,0.00,157982.12,4465.00,10845.0
11,1,PAYMENT,3099.97,17671.03,0.00,20771.00,0.0
12,1,PAYMENT,2560.74,2509.26,0.00,5070.00,0.0
13,1,PAYMENT,11633.76,0.00,0.00,10127.00,0.0
14,1,PAYMENT,4098.78,499165.22,0.00,503264.00,0.0
15,1,CASH_OUT,229133.94,0.00,51513.44,15325.00,5083.0
16,1,PAYMENT,1563.82,0.00,0.00,450.00,0.0
17,1,PAYMENT,1157.86,19998.14,0.00,21156.00,0.0
18,1,PAYMENT,671.64,14451.36,0.00,15123.00,0.0
19,1,TRANSFER,215310.30,0.00,0.00,705.00,22425.0

In [11]:
data = producer.merge(df, how='inner', on=['nameOrig', 'nameDest'])
predict_df = data.drop(['nameOrig', 'nameDest'], axis=1)
predict_dict = predict_df.to_dict('index')

In [4]:
import os
import pandas as pd
from modelling import FraudModel

def run_fraud_models(predict_dict, model_path):
    results = []
    for index, predict in predict_dict.items():
        try:
            result = FraudModel.runModel(predict, model_path)
            results.append(result)
        except KeyError as e:
            print(f"KeyError for index {index}: {e}")
        except Exception as e:
            print(f"An error occurred for index {index}: {e}")
    return results

def main():
    path = os.path.join(os.getcwd(), "modelling")
    # Assuming predict_dict is defined somewhere in your code
    predict_dict = {
        
    }
    results = run_fraud_models(predict_dict, path)
    print(results)

if __name__ == "__main__":
    main()

[]

In [26]:
from modelling import FraudModel
import os

path = os.getcwd()
path = path + "\\modelling\\"
result = FraudModel.runModel(predict, path)

C:\Users\MSI\anaconda3\lib\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator OneHotEncoder from version 1.3.0 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
C:\Users\MSI\anaconda3\lib\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator StandardScaler from version 1.3.0 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
C:\Users\MSI\anaconda3\lib\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator StandardScaler from version 1.3.0 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
C:\Users\MSI\anaconda3\lib\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator StandardScaler from version 1.3.0 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
C:\Users\MSI\anaconda3\lib\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator StandardScaler from version 1.3.0 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
C:\Users\MSI\anaconda3\lib\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator StandardScaler from version 1.3.0 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
C:\Users\MSI\anaconda3\lib\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator LogisticRegression from version 1.3.0 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(

In [27]:
result

'White List'

In [28]:
data['predict'] = result
data

,step,type,amount,nameOrig,newbalanceOrig,nameDest,newbalanceDest,oldbalanceOrg,oldbalanceDest,predict
0,1,PAYMENT,9839.64,C1231006815,160296.36,M1979787155,0.00,170136.00,0.0,White List
1,1,PAYMENT,1864.28,C1666544295,19384.72,M2044282225,0.00,21249.00,0.0,White List
2,1,TRANSFER,181.00,C1305486145,0.00,C553264065,0.00,181.00,0.0,White List
3,1,CASH_OUT,181.00,C840083671,0.00,C38997010,0.00,181.00,21182.0,White List
4,1,PAYMENT,11668.14,C2048537720,29885.86,M1230701703,0.00,41554.00,0.0,White List
5,1,PAYMENT,7817.71,C90045638,46042.29,M573487274,0.00,53860.00,0.0,White List
6,1,PAYMENT,7107.77,C154988899,176087.23,M408069119,0.00,183195.00,0.0,White List
7,1,PAYMENT,7861.64,C1912850431,168225.59,M633326333,0.00,176087.23,0.0,White List
8,1,PAYMENT,4024.36,C1265012928,0.00,M1176932104,0.00,2671.00,0.0,White List
9,1,DEBIT,5337.77,C712410124,36382.23,C195600860,40348.79,41720.00,41898.0,White List
10,1,DEBIT,9644.94,C1900366749,0.00,C997608398,157982.12,4465.00,10845.0,White List
11,1,PAYMENT,3099.97,C249177573,17671.03,M2096539129,0.00,20771.00,0.0,White List
12,1,PAYMENT,2560.74,C1648232591,2509.26,M972865270,0.00,5070.00,0.0,White List
13,1,PAYMENT,11633.76,C1716932897,0.00,M801569151,0.00,10127.00,0.0,White List
14,1,PAYMENT,4098.78,C1026483832,499165.22,M1635378213,0.00,503264.00,0.0,White List
15,1,CASH_OUT,229133.94,C905080434,0.00,C476402209,51513.44,15325.00,5083.0,White List
16,1,PAYMENT,1563.82,C761750706,0.00,M1731217984,0.00,450.00,0.0,White List
17,1,PAYMENT,1157.86,C1237762639,19998.14,M1877062907,0.00,21156.00,0.0,White List
18,1,PAYMENT,671.64,C2033524545,14451.36,M473053293,0.00,15123.00,0.0,White List
19,1,TRANSFER,215310.30,C1670993182,0.00,C1100439041,0.00,705.00,22425.0,White List

In [29]:
from pymongo import MongoClient

# Mengatur koneksi ke MongoDB
# data = pd.read_csv("producer/")
username = "postgres" 
password = "postgres" 
# Replace these with your connection details
client_uri = f"mongodb://{username}:{password}@localhost:5432/test_db?authSource=admin" 
mongo_client = MongoClient(client_uri) 

db = mongo_client["project_4"]
collection = db["project_4-collection"]
data_dicts = data.to_dict('records')  


if isinstance(data_dicts, list) and data_dicts:
    collection.insert_many(data_dicts)
    print("All data has been saved to MongoDB")
else:
    print("No data to save")

All data has been saved to MongoDB

In [30]:
# Membaca data dari MongoDB ke dalam list of dictionaries
data_from_mongo = list(collection.find())
    
# Membaca data ke dalam DataFrame
df = pd.DataFrame(data_from_mongo)
df

,_id,step,type,amount,nameOrig,newbalanceOrig,nameDest,newbalanceDest,oldbalanceOrg,oldbalanceDest,predict
0,6690e204bde8308fcb424226,1,PAYMENT,11668.14,C2048537720,29885.86,M1230701703,0.00,41554.00,0.0,NaN
1,6690e3a8bde8308fcb424228,1,PAYMENT,11668.14,C2048537720,29885.86,M1230701703,0.00,41554.00,0.0,White List
2,6690ed2834d1f1cfa18055f0,1,PAYMENT,9839.64,C1231006815,160296.36,M1979787155,0.00,170136.00,0.0,NaN
3,6690ed2834d1f1cfa18055f1,1,PAYMENT,1864.28,C1666544295,19384.72,M2044282225,0.00,21249.00,0.0,NaN
4,6690ed2834d1f1cfa18055f2,1,TRANSFER,181.00,C1305486145,0.00,C553264065,0.00,181.00,0.0,NaN
5,6690ed2834d1f1cfa18055f3,1,CASH_OUT,181.00,C840083671,0.00,C38997010,0.00,181.00,21182.0,NaN
6,6690ed2834d1f1cfa18055f4,1,PAYMENT,11668.14,C2048537720,29885.86,M1230701703,0.00,41554.00,0.0,NaN
7,6690ed2834d1f1cfa18055f5,1,PAYMENT,7817.71,C90045638,46042.29,M573487274,0.00,53860.00,0.0,NaN
8,6690ed2834d1f1cfa18055f6,1,PAYMENT,7107.77,C154988899,176087.23,M408069119,0.00,183195.00,0.0,NaN
9,6690ed2834d1f1cfa18055f7,1,PAYMENT,7861.64,C1912850431,168225.59,M633326333,0.00,176087.23,0.0,NaN
10,6690ed2834d1f1cfa18055f8,1,PAYMENT,4024.36,C1265012928,0.00,M1176932104,0.00,2671.00,0.0,NaN
11,6690ed2834d1f1cfa18055f9,1,DEBIT,5337.77,C712410124,36382.23,C195600860,40348.79,41720.00,41898.0,NaN
12,6690ed2834d1f1cfa18055fa,1,DEBIT,9644.94,C1900366749,0.00,C997608398,157982.12,4465.00,10845.0,NaN
13,6690ed2834d1f1cfa18055fb,1,PAYMENT,3099.97,C249177573,17671.03,M2096539129,0.00,20771.00,0.0,NaN
14,6690ed2834d1f1cfa18055fc,1,PAYMENT,2560.74,C1648232591,2509.26,M972865270,0.00,5070.00,0.0,NaN
15,6690ed2834d1f1cfa18055fd,1,PAYMENT,11633.76,C1716932897,0.00,M801569151,0.00,10127.00,0.0,NaN
16,6690ed2834d1f1cfa18055fe,1,PAYMENT,4098.78,C1026483832,499165.22,M1635378213,0.00,503264.00,0.0,NaN
17,6690ed2834d1f1cfa18055ff,1,CASH_OUT,229133.94,C905080434,0.00,C476402209,51513.44,15325.00,5083.0,NaN
18,6690ed2834d1f1cfa1805600,1,PAYMENT,1563.82,C761750706,0.00,M1731217984,0.00,450.00,0.0,NaN
19,6690ed2834d1f1cfa1805601,1,PAYMENT,1157.86,C1237762639,19998.14,M1877062907,0.00,21156.00,0.0,NaN
20,6690ed2834d1f1cfa1805602,1,PAYMENT,671.64,C2033524545,14451.36,M473053293,0.00,15123.00,0.0,NaN
21,6690ed2834d1f1cfa1805603,1,TRANSFER,215310.30,C1670993182,0.00,C1100439041,0.00,705.00,22425.0,NaN
22,6690ed7234d1f1cfa1805605,1,PAYMENT,9839.64,C1231006815,160296.36,M1979787155,0.00,170136.00,0.0,White List
23,6690ed7234d1f1cfa1805606,1,PAYMENT,1864.28,C1666544295,19384.72,M2044282225,0.00,21249.00,0.0,White List
24,6690ed7234d1f1cfa1805607,1,TRANSFER,181.00,C1305486145,0.00,C553264065,0.00,181.00,0.0,White List
25,6690ed7234d1f1cfa1805608,1,CASH_OUT,181.00,C840083671,0.00,C38997010,0.00,181.00,21182.0,White List
26,6690ed7234d1f1cfa1805609,1,PAYMENT,11668.14,C2048537720,29885.86,M1230701703,0.00,41554.00,0.0,White List
27,6690ed7234d1f1cfa180560a,1,PAYMENT,7817.71,C90045638,46042.29,M573487274,0.00,53860.00,0.0,White List
28,6690ed7234d1f1cfa180560b,1,PAYMENT,7107.77,C154988899,176087.23,M408069119,0.00,183195.00,0.0,White List
29,6690ed7234d1f1cfa180560c,1,PAYMENT,7861.64,C1912850431,168225.59,M633326333,0.00,176087.23,0.0,White List
30,6690ed7234d1f1cfa180560d,1,PAYMENT,4024.36,C1265012928,0.00,M1176932104,0.00,2671.00,0.0,White List
31,6690ed7234d1f1cfa180560e,1,DEBIT,5337.77,C712410124,36382.23,C195600860,40348.79,41720.00,41898.0,White List
32,6690ed7234d1f1cfa180560f,1,DEBIT,9644.94,C1900366749,0.00,C997608398,157982.12,4465.00,10845.0,White List
33,6690ed7234d1f1cfa1805610,1,PAYMENT,3099.97,C249177573,17671.03,M2096539129,0.00,20771.00,0.0,White List
34,6690ed7234d1f1cfa1805611,1,PAYMENT,2560.74,C1648232591,2509.26,M972865270,0.00,5070.00,0.0,White List
35,6690ed7234d1f1cfa1805612,1,PAYMENT,11633.76,C1716932897,0.00,M801569151,0.00,10127.00,0.0,White List
36,6690ed7234d1f1cfa1805613,1,PAYMENT,4098.78,C1026483832,499165.22,M1635378213,0.00,503264.00,0.0,White List
37,6690ed7234d1f1cfa1805614,1,CASH_OUT,229133.94,C905080434,0.00,C476402209,51513.44,15325.00,5083.0,White List
38,6690ed7234d1f1cfa1805615,1,PAYMENT,1563.82,C761750706,0.00,M1731217984,0.00,450.00,0.0,White List
39,6690ed7234d1f1cfa1805616,1,PAYMENT,1157.86,C1237762639,19998.14,M1877062907,0.00,21156.00,0.0,White List
40,6690ed7234d1f1cfa1805617,1,PAYMENT,671.64,C2033524545,14451.36,M473053293,0.00,15123.00,0.0,White List
41,6690ed7234d1f1cfa1805618,1,TRANSFER,215310.30,C1670993182,0.00,C1100439041,0.00,705.00,22425.0,White List

In [33]:
data_from_mongo = list(collection.find())

# Load data into a DataFrame
df = pd.DataFrame(data_from_mongo)

# Display the DataFrame before dropping rows
print("DataFrame before dropping rows with NaN in 'predict':")
print(df)

# Drop rows where 'predict' column is NaN
df_cleaned = df.dropna(subset=['predict'])

# Display the DataFrame after dropping rows
print("DataFrame after dropping rows with NaN in 'predict':")
print(df_cleaned)

# Get the IDs of the documents to be removed
ids_to_remove = df[df['predict'].isna()]['_id'].tolist()

# Remove the corresponding documents from MongoDB
result = collection.delete_many({'_id': {'$in': ids_to_remove}})
print(f"Deleted {result.deleted_count} documents with NaN in 'predict' column.")

DataFrame before dropping rows with NaN in 'predict':
                         _id  step      type     amount     nameOrig  \
0   6690e3a8bde8308fcb424228     1   PAYMENT   11668.14  C2048537720
1   6690ed7234d1f1cfa1805605     1   PAYMENT    9839.64  C1231006815
2   6690ed7234d1f1cfa1805606     1   PAYMENT    1864.28  C1666544295
3   6690ed7234d1f1cfa1805607     1  TRANSFER     181.00  C1305486145
4   6690ed7234d1f1cfa1805608     1  CASH_OUT     181.00   C840083671
5   6690ed7234d1f1cfa1805609     1   PAYMENT   11668.14  C2048537720
6   6690ed7234d1f1cfa180560a     1   PAYMENT    7817.71    C90045638
7   6690ed7234d1f1cfa180560b     1   PAYMENT    7107.77   C154988899
8   6690ed7234d1f1cfa180560c     1   PAYMENT    7861.64  C1912850431
9   6690ed7234d1f1cfa180560d     1   PAYMENT    4024.36  C1265012928
10  6690ed7234d1f1cfa180560e     1     DEBIT    5337.77   C712410124
11  6690ed7234d1f1cfa180560f     1     DEBIT    9644.94  C1900366749
12  6690ed7234d1f1cfa1805610     1   PAYMENT    3099.97   C249177573
13  6690ed7234d1f1cfa1805611     1   PAYMENT    2560.74  C1648232591
14  6690ed7234d1f1cfa1805612     1   PAYMENT   11633.76  C1716932897
15  6690ed7234d1f1cfa1805613     1   PAYMENT    4098.78  C1026483832
16  6690ed7234d1f1cfa1805614     1  CASH_OUT  229133.94   C905080434
17  6690ed7234d1f1cfa1805615     1   PAYMENT    1563.82   C761750706
18  6690ed7234d1f1cfa1805616     1   PAYMENT    1157.86  C1237762639
19  6690ed7234d1f1cfa1805617     1   PAYMENT     671.64  C2033524545
20  6690ed7234d1f1cfa1805618     1  TRANSFER  215310.30  C1670993182

    newbalanceOrig     nameDest  newbalanceDest  oldbalanceOrg  \
0         29885.86  M1230701703            0.00       41554.00
1        160296.36  M1979787155            0.00      170136.00
2         19384.72  M2044282225            0.00       21249.00
3             0.00   C553264065            0.00         181.00
4             0.00    C38997010            0.00         181.00
5         29885.86  M1230701703            0.00       41554.00
6         46042.29   M573487274            0.00       53860.00
7        176087.23   M408069119            0.00      183195.00
8        168225.59   M633326333            0.00      176087.23
9             0.00  M1176932104            0.00        2671.00
10        36382.23   C195600860        40348.79       41720.00
11            0.00   C997608398       157982.12        4465.00
12        17671.03  M2096539129            0.00       20771.00
13         2509.26   M972865270            0.00        5070.00
14            0.00   M801569151            0.00       10127.00
15       499165.22  M1635378213            0.00      503264.00
16            0.00   C476402209        51513.44       15325.00
17            0.00  M1731217984            0.00         450.00
18        19998.14  M1877062907            0.00       21156.00
19        14451.36   M473053293            0.00       15123.00
20            0.00  C1100439041            0.00         705.00

    oldbalanceDest     predict
0              0.0  White List
1              0.0  White List
2              0.0  White List
3              0.0  White List
4          21182.0  White List
5              0.0  White List
6              0.0  White List
7              0.0  White List
8              0.0  White List
9              0.0  White List
10         41898.0  White List
11         10845.0  White List
12             0.0  White List
13             0.0  White List
14             0.0  White List
15             0.0  White List
16          5083.0  White List
17             0.0  White List
18             0.0  White List
19             0.0  White List
20         22425.0  White List
DataFrame after dropping rows with NaN in 'predict':
                         _id  step      type     amount     nameOrig  \
0   6690e3a8bde8308fcb424228     1   PAYMENT   11668.14  C2048537720
1   6690ed7234d1f1cfa1805605     1   PAYMENT    9839.64  C1231006815
2   6690ed7234d1f1cfa1805606     1   PAYMENT    1864.28  C1666544295
3   6690ed7234d1f1cfa1805607     1  TRANSFER     181.00  C1305486145
4   6690ed7234d1f1cfa1805608     1  CASH_OUT     181.00   C840083671
5   6690ed7234d1f1cfa1805609     1   PAYMENT   11668.14  C2048537720
6   6690ed7234d1f1cfa180560a     1   PAYMENT    7817.71    C90045638
7   6690ed7234d1f1cfa180560b     1   PAYMENT    7107.77   C154988899
8   6690ed7234d1f1cfa180560c     1   PAYMENT    7861.64  C1912850431
9   6690ed7234d1f1cfa180560d     1   PAYMENT    4024.36  C1265012928
10  6690ed7234d1f1cfa180560e     1     DEBIT    5337.77   C712410124
11  6690ed7234d1f1cfa180560f     1     DEBIT    9644.94  C1900366749
12  6690ed7234d1f1cfa1805610     1   PAYMENT    3099.97   C249177573
13  6690ed7234d1f1cfa1805611     1   PAYMENT    2560.74  C1648232591
14  6690ed7234d1f1cfa1805612     1   PAYMENT   11633.76  C1716932897
15  6690ed7234d1f1cfa1805613     1   PAYMENT    4098.78  C1026483832
16  6690ed7234d1f1cfa1805614     1  CASH_OUT  229133.94   C905080434
17  6690ed7234d1f1cfa1805615     1   PAYMENT    1563.82   C761750706
18  6690ed7234d1f1cfa1805616     1   PAYMENT    1157.86  C1237762639
19  6690ed7234d1f1cfa1805617     1   PAYMENT     671.64  C2033524545
20  6690ed7234d1f1cfa1805618     1  TRANSFER  215310.30  C1670993182

    newbalanceOrig     nameDest  newbalanceDest  oldbalanceOrg  \
0         29885.86  M1230701703            0.00       41554.00
1        160296.36  M1979787155            0.00      170136.00
2         19384.72  M2044282225            0.00       21249.00
3             0.00   C553264065            0.00         181.00
4             0.00    C38997010            0.00         181.00
5         29885.86  M1230701703            0.00       41554.00
6         46042.29   M573487274            0.00       53860.00
7        176087.23   M408069119            0.00      183195.00
8        168225.59   M633326333            0.00      176087.23
9             0.00  M1176932104            0.00        2671.00
10        36382.23   C195600860        40348.79       41720.00
11            0.00   C997608398       157982.12        4465.00
12        17671.03  M2096539129            0.00       20771.00
13         2509.26   M972865270            0.00        5070.00
14            0.00   M801569151            0.00       10127.00
15       499165.22  M1635378213            0.00      503264.00
16            0.00   C476402209        51513.44       15325.00
17            0.00  M1731217984            0.00         450.00
18        19998.14  M1877062907            0.00       21156.00
19        14451.36   M473053293            0.00       15123.00
20            0.00  C1100439041            0.00         705.00

    oldbalanceDest     predict
0              0.0  White List
1              0.0  White List
2              0.0  White List
3              0.0  White List
4          21182.0  White List
5              0.0  White List
6              0.0  White List
7              0.0  White List
8              0.0  White List
9              0.0  White List
10         41898.0  White List
11         10845.0  White List
12             0.0  White List
13             0.0  White List
14             0.0  White List
15             0.0  White List
16          5083.0  White List
17             0.0  White List
18             0.0  White List
19             0.0  White List
20         22425.0  White List
Deleted 0 documents with NaN in 'predict' column.

In [34]:
# Membaca data dari MongoDB ke dalam list of dictionaries
data_from_mongo = list(collection.find())
    
# Membaca data ke dalam DataFrame
df = pd.DataFrame(data_from_mongo)
df

,_id,step,type,amount,nameOrig,newbalanceOrig,nameDest,newbalanceDest,oldbalanceOrg,oldbalanceDest,predict
0,6690e3a8bde8308fcb424228,1,PAYMENT,11668.14,C2048537720,29885.86,M1230701703,0.00,41554.00,0.0,White List
1,6690ed7234d1f1cfa1805605,1,PAYMENT,9839.64,C1231006815,160296.36,M1979787155,0.00,170136.00,0.0,White List
2,6690ed7234d1f1cfa1805606,1,PAYMENT,1864.28,C1666544295,19384.72,M2044282225,0.00,21249.00,0.0,White List
3,6690ed7234d1f1cfa1805607,1,TRANSFER,181.00,C1305486145,0.00,C553264065,0.00,181.00,0.0,White List
4,6690ed7234d1f1cfa1805608,1,CASH_OUT,181.00,C840083671,0.00,C38997010,0.00,181.00,21182.0,White List
5,6690ed7234d1f1cfa1805609,1,PAYMENT,11668.14,C2048537720,29885.86,M1230701703,0.00,41554.00,0.0,White List
6,6690ed7234d1f1cfa180560a,1,PAYMENT,7817.71,C90045638,46042.29,M573487274,0.00,53860.00,0.0,White List
7,6690ed7234d1f1cfa180560b,1,PAYMENT,7107.77,C154988899,176087.23,M408069119,0.00,183195.00,0.0,White List
8,6690ed7234d1f1cfa180560c,1,PAYMENT,7861.64,C1912850431,168225.59,M633326333,0.00,176087.23,0.0,White List
9,6690ed7234d1f1cfa180560d,1,PAYMENT,4024.36,C1265012928,0.00,M1176932104,0.00,2671.00,0.0,White List
10,6690ed7234d1f1cfa180560e,1,DEBIT,5337.77,C712410124,36382.23,C195600860,40348.79,41720.00,41898.0,White List
11,6690ed7234d1f1cfa180560f,1,DEBIT,9644.94,C1900366749,0.00,C997608398,157982.12,4465.00,10845.0,White List
12,6690ed7234d1f1cfa1805610,1,PAYMENT,3099.97,C249177573,17671.03,M2096539129,0.00,20771.00,0.0,White List
13,6690ed7234d1f1cfa1805611,1,PAYMENT,2560.74,C1648232591,2509.26,M972865270,0.00,5070.00,0.0,White List
14,6690ed7234d1f1cfa1805612,1,PAYMENT,11633.76,C1716932897,0.00,M801569151,0.00,10127.00,0.0,White List
15,6690ed7234d1f1cfa1805613,1,PAYMENT,4098.78,C1026483832,499165.22,M1635378213,0.00,503264.00,0.0,White List
16,6690ed7234d1f1cfa1805614,1,CASH_OUT,229133.94,C905080434,0.00,C476402209,51513.44,15325.00,5083.0,White List
17,6690ed7234d1f1cfa1805615,1,PAYMENT,1563.82,C761750706,0.00,M1731217984,0.00,450.00,0.0,White List
18,6690ed7234d1f1cfa1805616,1,PAYMENT,1157.86,C1237762639,19998.14,M1877062907,0.00,21156.00,0.0,White List
19,6690ed7234d1f1cfa1805617,1,PAYMENT,671.64,C2033524545,14451.36,M473053293,0.00,15123.00,0.0,White List
20,6690ed7234d1f1cfa1805618,1,TRANSFER,215310.30,C1670993182,0.00,C1100439041,0.00,705.00,22425.0,White List

In [38]:
df.to_csv('dataset.csv', index=False)